language: elixir
elixir:
  - 1.4.5
  - 1.5.1
notifications:
  recipients:
    - bruce.williams@cargosense.com
    - ben.wilson@cargosense.com
otp_release:
  - 19.2
  - 20.0
script: "MIX_ENV=test mix local.hex --force && MIX_ENV=test mix do deps.get, test"
