name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Elixir ${{matrix.elixir}} / OTP ${{matrix.otp}}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - elixir: '1.11'
            otp: '23'
          - elixir: '1.10'
            otp: '22'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Elixir
      uses: erlef/setup-elixir@v1
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version: ${{ matrix.otp }}

    - name: Restore deps cache
      uses: actions/cache@v2
      with:
        path: deps
        key: deps-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          deps-${{ matrix.otp }}-${{ matrix.elixir }}

    - name: Restore _build cache
      uses: actions/cache@v2
      with:
        path: _build
        key: _build-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          _build-${{ matrix.otp }}-${{ matrix.elixir }}

    - name: Restore plts cache
      uses: actions/cache@v2
      with:
        path: priv/plts
        key: plts-${{ matrix.otp }}-${{ matrix.elixir }}

    - name: Install deps
      run: mix deps.get

    - name: Check Formatting
      run: mix format --check-formatted

    - name: Run unit tests
      run: |
        mix clean
        mix test

    - name: Run unit tests with persistent_term backend
      run: |
        mix clean
        mix test
      env:
        SCHEMA_PROVIDER: persistent_term

    - name: Run dialyzer
      run: |
        mkdir -p priv/plts
        MIX_ENV=test mix dialyzer
