name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Elixir ${{matrix.elixir}} / OTP ${{matrix.otp}}
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        elixir:
          - '1.15'
          - '1.16'
          - '1.17'
        otp:
          - '25'
          - '26'
          - '27'
        exclude:
          - otp: 25
            elixir: 1.17
          - otp: 27
            elixir: 1.15
          - otp: 27
            elixir: 1.16

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore deps cache
        uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}-${{ github.sha }}
          restore-keys: |
            deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
            deps-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}

      - name: Install package dependencies
        run: mix deps.get

      - name: Check Formatting
        run: mix format --check-formatted

      - name: Run unit tests
        run: |
          mix clean
          mix test

      - name: Run unit tests with persistent_term backend
        run: |
          mix clean
          mix test
        env:
          SCHEMA_PROVIDER: persistent_term

      - name: Cache/uncache PLTs
        uses: actions/cache@v3
        with:
          path: |
            priv/plts
          key: "v1-${{ runner.os }}-\
            erlang-${{ matrix.otp }}-\
            elixir-${{ matrix.elixir }}-\
            ${{ hashFiles('mix.lock') }}"

      - name: Run Dialyzer
        run: mix dialyzer
